
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/figtree-v5-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
:root{
    --background-light: #eceff8;
    --primary-background-hover :rgba(103, 104, 121, 0.1);
    --primary-border-small : 4px;
    --primary-border-color: #c3c6d4;
    --primary-text-color: #323338;
    --primary-selected-color:#e8f0fe;
    --primary-gap-flex-s: 6px;
    --background-color-blue: #0073ea;
    --background-color-blue-hover: #0060b9;
    --primary-font-weight: 600;
    --primary-color-yellow: #ffcb00;
    --primary-box-shadow-hover: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

*{
    box-sizing: border-box;
    font-family: 'Figtree';
    font-style: normal;
}

/* START PRIMARY ELEMENT */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background: white; 
}

::-webkit-scrollbar-thumb {
background: var(--primary-border-color); 
}


body{
    font-size: 13px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-light);
    overflow: hidden;
}

button,input, [tabindex]{
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 13px;
}

p{
    margin: 0;
}
  
a[href] {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


#message{
    position: absolute;
    height: max-content;
    z-index: 99999999;
    transform: translateX(-50%);
    visibility: hidden;
    user-select: none;
}
#message .message-wrapper{
    opacity: 0;
    background-color: #333;
    color: #fff;
    padding:10px 15px;
    white-space: nowrap;
    border-radius: 6px;

}
#message.active{
    visibility: visible;
}
#message.active .message-wrapper{
    transition: opacity 0.1s ease 0.35s;
    opacity: 1;
}

#message .message-wrapper::after{
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    transform: translateX(-50%);
    border-color: transparent transparent #333 transparent;
}

/*[data-title-top]:hover:after,*/
/*[data-title-top]:hover:before{*/
/*    opacity: 1;*/
/*    transition: all 0.1s ease 0.35s;*/
/*    visibility: visible;*/
/*}*/
/*[data-title-top]:after {*/
/*    content: attr(data-title-top);*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    text-wrap: nowrap;*/
/*    position: absolute;*/
/*    padding:10px 15px;*/
/*    top: -135%;*/
/*    left: 50%;*/
/*    height: max-content;*/
/*    white-space: nowrap;*/
/*    border-radius: 6px;*/
/*    opacity: 0;*/
/*    z-index: 99999;*/
/*    visibility: hidden;*/
/*    transform: translateX(-50%);*/
/*}*/
/*[data-title-top]:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -35%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #333 transparent transparent transparent;*/
/*    opacity: 0;*/
/*    z-index: 99999;*/
/*    visibility: hidden;*/
/*}*/
/*[data-title-top] {*/
/*    position: relative;*/
/*}*/

.padding-primary{
    padding: 4px 8px;
}
.padding-10{
    padding: 10px;
}

.padding-5{
    padding: 5px;
}

.margin-5{
    margin: 5px;
}

.tx-nowrap{
    display: block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.primary-btn{
    display: flex;
    align-items: center;
    gap: var(--primary-gap-flex-s);
    border-radius: var(--primary-border-small);
    cursor: pointer;
    &.active{
        background-color: var(--primary-selected-color);
    }
}
.primary-btn:hover{
    background-color: var(--primary-background-hover);
}
.primary-btn.active:hover {
    background-color: var(--primary-selected-color);
}

.primary-blue-btn{
    color: white;
    display: flex;
    align-items: center;
    gap: var(--primary-gap-flex-s);
    border-radius: var(--primary-border-small);
    background-color: var(--background-color-blue);
    cursor: pointer;
    padding: 0 10px;
}
.primary-blue-btn:hover{
    background-color: var(--background-color-blue-hover);
}
.primary-list-item.active{
        background-color: var(--primary-selected-color);
}
.primary-list-item a{
    position: relative;
    color: var(--primary-text-color);
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    gap: var(--primary-gap-flex-s);
    align-items: center;
    height: 32px;
    border-radius: var(--primary-border-small);
    cursor: pointer;
}

.primary-list-item a .more-action{
    display: none;
    padding: 2px 4px;
    border-radius: var(--primary-border-small);
}
.primary-list-item a:hover{
    background-color: var(--primary-background-hover);
}

.primary-list-item a:hover .more-action{
    display: block;
}

.primary-list-item a .more-action:hover{
    background-color: var(--primary-background-hover);
}


.icon-2xl{
    height: 30px;
    width: 30px;
    opacity: 0.8;
}
.icon-xl{
    height: 20px;
    width: 20px;
    opacity: 0.8;
}
.icon-l{
    height: 18.5px;
    width: 18.5px;
    opacity: 0.8;
}
.icon-xm{
    height: 15px;
    width: 15px;
    opacity: 0.8;
}
.icon-m{
    height: 12px;
    width: 12px;
    opacity: 0.8;
}
.icon-s{
    height: 8px;
    width: 8px;
    opacity: 0.8;
}

.icon-star.fa-star {
    cursor: pointer;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    color: white;
}

.icon-star.active {
    color: var(--primary-color-yellow);
    -webkit-text-stroke-color: var(--primary-color-yellow);
}

.search-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: var(--primary-border-small);
    height: 32px;
    cursor: pointer;
}

.search-wrapper label{
    display: flex;  
    cursor: pointer;
    padding: 0 3px;
  }

  .search-wrapper:focus-within{
      border-radius: var(--primary-border-small);
      border-color: var(--background-color-blue);
      background-color: transparent;
  }

  .search-wrapper input{
      height: 100%;
      transition: all 0.1s linear;
      cursor: pointer;
  }

  .search-wrapper input::placeholder{
      color: black;
  }

  .search-wrapper:focus-within input{
      cursor: text;
  }

  .search-wrapper:focus-within input::placeholder{
      color: gray;
  }

  .search-wrapper:focus-within label{
      pointer-events: none;
  }

  .search-wrapper.has-text{
      border-color: var(--background-color-blue);
      background-color: var(--primary-selected-color);
  }


/*  END PRIMARY ELEMENT  */

header{
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    padding: 5px 24px 5px 5px;
}

header a[href]{
    display: flex;
    align-items: center;
    font-weight: var(--primary-font-weight);
    gap: var(--primary-gap-flex-s);
    font-size: 18px;
}

header .logo{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

header .option-btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--primary-gap-flex-s);
}


header .line{
    background-color: #d0d4e4;
    height: 28px;
    margin: 0 2px;
    width: 1px;
}

header .account-info{
    background-color: white;
    border-radius: 4px 20px 20px 4px;
    padding: 0;
}

header .account-info .company-logo-wrapper {
    padding: 0 5px;
    display: flex;
    
}

header .account-info .company-logo-wrapper img{
    height: 24px;
    width: 24px;
}

header .account-info .user-avatar-wrapper {
    display: flex;
}

.application{
    flex: 1;
    display: flex;
    gap: var(--primary-gap-flex-s);
    overflow: auto;
}
.application .slider{
    border-top-right-radius: 8px;
    height: 100%;
    width: 200px;
    min-width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.application .workspace{
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 8px;
    background-color: white;
}

.application .slider .slider-header{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 12px;
    border-bottom: 1px solid #d0d4e4;
}
.application .slider .slider-content{
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.application .slider .slider-content .primary-btn{
    padding: 0 10px;
    height: 36px;
    width: 100%;
}

.application .slider .slider-content .primary-btn .dropdown{
    margin-left: auto;
    margin-right: 4px;
}

.application .slider h2{
    font-size: 15px;
    font-weight: var(--primary-font-weight);
    margin: 0;
}

.application .slider-content .search-board{
    display: flex;
    gap: var(--primary-gap-flex-s);
    box-sizing: border-box;
}

.application .slider-content .search-board .search-wrapper{
    min-width: 120px;
    padding-left: 6px;
    padding-right: 3px;
    border-color: var(--primary-border-color);
}

.application .slider-content .search-board .search-wrapper input{
    width: 100%;
    height: 100%;
}

.application .slider-content .search-board .search-wrapper:focus-within, &.has-text{
    border-radius: var(--primary-border-small);
    border-color: var(--background-color-blue);
}

.application .slider-content .list-board{
    position: relative;
}

.application .slider-content .list-board ul{
    max-height: 480px;
    overflow: hidden;
}

.application .slider-content .list-board ul:hover{
    overflow-y: auto;
}

.application .slider-content .company-logo-wrapper{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.application .slider-content .company-logo-wrapper img{
    width: 140px;
    height: 90px;
    object-fit: cover;
}

.workspace .header-board{
    background-color: white;
    z-index: 10;
    position: sticky;
    left: 0;
    top: 0;
    padding: 18px 30px 0 32px;
    column-gap: 16px;
    display: grid;
    grid-template-areas:
        "info info action"
        "navigation navigation navigation"
        "contextualAction contextualAction contextualAction";
    grid-template-columns: fit-content(800px) 1fr;
    grid-template-rows: auto;
    width: auto;
}

.workspace .header-board .title-board{
    grid-area: info;
    display: flex;
    min-width: 100px;
}

.workspace .header-board .title-board .info{
    overflow: hidden;
    font-size: 24px;
    font-weight: var(--primary-font-weight);
    padding: 4px 8px;
}

.workspace .header-board .title-board .info span{
    max-width: 250px;
}

.workspace .header-board .action-board{
    display: flex;
    gap: var(--primary-gap-flex-s);
    align-items: center;
    grid-area: action;

}

.workspace .header-board .action-board button{
    height: 32px;
}

.avatar.sz-l{
    height: 26px;
    width: 26px;
    border-radius: 20px;
}

.avatar.sz-xl{
    height: 32px;
    width: 32px;
    border-radius: 20px;
}

.workspace .header-board .action-board .invite-btn {
    text-wrap: nowrap;
    border: solid 1px var(--primary-border-color);
}


.workspace .header-board .tab-board-wrapper{
    grid-area: navigation;
    border-bottom: 1px solid;
    border-color: #d0d4e4;
    padding-top: 8px;
}

ul.tab-board {
    align-items: center;
    display: flex;
}

ul.tab-board li{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
    list-style: none;
    margin-bottom: -1px;
    padding: 4px 25px;
    border-top-left-radius: var(--primary-border-small);
    border-top-right-radius: var(--primary-border-small);
}

ul.tab-board li .info{
    display: flex;
    gap: var(--primary-gap-flex-s);
    font-size: 13px;
    text-wrap: nowrap;
    align-items: center;
    transition: all 100ms linear;
}

ul.tab-board li:hover .info{
    transform: translateX(-15px);
}

ul.tab-board li.active{
    border-bottom: solid 2px var(--background-color-blue-hover);
}

ul.tab-board li:hover{
    background-color: var(--primary-background-hover);
}

ul.tab-board li .more-action{
    display: none;
    padding: 2px 4px;
    border-radius: var(--primary-border-small);
}

ul.tab-board li:hover .more-action{
    display: block;
    position: absolute;
    top: 7px;
    right: 5px;
}

ul.tab-board .more-action:hover{
    background-color: var(--primary-background-hover);
}

.tab-board-wrapper ul.tab-board span {
    width: 100px;
}

.workspace .header-board .option-board{
    grid-area: contextualAction;
    display: flex;
    padding-top: 16px;
    padding-bottom: 8px;
    justify-content: start;
}

.workspace .header-board .new-btn-wrapper{
    display: flex;
}

.workspace .header-board .new-btn-wrapper .new-btn{
    text-wrap: nowrap;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid 1px var(--background-color-blue-hover);
}

.workspace .header-board .new-btn-wrapper .dropdown-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.workspace .header-board .option-board .option-wrapper{
    display: flex;
    align-items: center;
    margin-left: 14px;
    gap: var(--primary-gap-flex-s);
}

.workspace .header-board .option-board .option-wrapper .primary-btn{
    height: 32px;
}

.workspace .header-board .option-board .option-wrapper .filter-btn-wrapper{
    padding: 0;
    gap: 0;
}

.workspace .header-board .option-board .option-wrapper .filter-btn{
    display: flex;
    align-items: center;
    gap: var(--primary-gap-flex-s);
    height: 100%;
    padding: 0 var(--primary-gap-flex-s);
    border-right: solid 1px white;
}
.workspace .header-board .option-board .option-wrapper .filter-btn-wrapper .dropdown-btn{
    
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 var(--primary-gap-flex-s);
}
.workspace .header-board .option-board .option-wrapper .filter-btn-wrapper .dropdown-btn:hover{
    background-color: var(--primary-background-hover);
}

.workspace .header-board .option-board .option-wrapper .search-wrapper:hover{
    background-color: var(--primary-background-hover);
}

.workspace .header-board .option-board .option-wrapper .search-wrapper input{
    width: 50px;
}

.workspace .header-board .option-board .option-wrapper .search-wrapper input::placeholder{
    color: black;
}

.workspace .header-board .option-board .option-wrapper .search-wrapper:focus-within input{
    width: 200px;
}

.workspace .header-board .option-board .option-wrapper .search-wrapper input:not(:placeholder-shown) {
    width: 200px;
}

.workspace .header-board .option-board .option-wrapper .search-wrapper:hover{
    background-color: var(--primary-selected-color);
}

.content-board{
    min-width: max-content;
    padding-top: 8px;
    flex: 1;
    z-index: 5;
}

.content-board .task-row-wrapper{
    margin-bottom: 20px;
    position: relative;
}

.content-board .task-row.hidden{
    display: none;
}

.content-board .task-row .task-column{
    position: sticky;
    left: 32px;
    min-width: 150px;
    display: flex;
    align-items: center;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: var(--primary-border-color);
    background-color: white;
    justify-content: center;
    user-select: none;
}

.content-board .task-row .task-column.person-column .person{
    height: 25px;
    width: 25px;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.content-board .task-row .task-column.person-column .person.unknow{
    margin-left: 0;
    border: 1px solid gray;
    color: gray;
}

.content-board .task-row .task-column.person-column .person img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 2px solid white;
}


.content-board .task-row .task-column.person-column .person-count{
    background-color: gray;
    color: white;
    font-size: 10px;
}


.content-board .task-row .task-column.time-tracking-column{
    justify-content: flex-start;
    padding: 0 9px;
}

.content-board .task-row .task-column .status-tag,
.content-board .task-row .task-column .priority-tag
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
}

.content-board .task-row .row-item .task-column:first-child{
    z-index: 5;
    width: 400px;
    min-width: 400px;
}

.content-board .task-row .row-item .task-column:first-child .more-action{
    position: absolute;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    border-radius: var(--primary-border-small);
    opacity: 0;
    padding: 5px;
    margin: 0 5px;
    z-index: 9999;
    cursor: pointer;
}

.content-board .task-row .row-item .task-column:first-child .more-action:hover{
    background-color: var(--primary-background-hover);
}

.content-board .task-row .row-item .task-column:first-child .option{
    height: 100%;
    width: 36px;
    border-right: 1px solid var(--primary-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-board .task-row .row-item .task-column:first-child .option input{
    cursor: pointer;
}

.content-board .task-row .row-item .task-column:first-child::after{
    content: '';
    width: 100px;
    position: absolute;
    top: -1px;
    bottom: -6px;
    left: -105px;
    background-color: white;
    z-index: 99;
}

.content-board .task-row .row-item.border-top .task-column{
    border-top: 1px solid var(--primary-border-color);
}

.content-board .task-row .row-item .task-column .header-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
}

.table-add-row .row-item{
    transform: translateY(-1px);
}

.table-add-row .row-item .task-column{
    border-top: 1px solid var(--primary-border-color);
}

.content-board .task-row .row-item.add-row .task-column:first-child{
    border-right: none;
    border-bottom-left-radius: 6px;
    justify-content: flex-start;
}

.content-board .task-row.header .row-item .task-column:first-child{
    display: grid;
    padding-bottom: 4px;
    grid-template-columns: auto 1fr;
    border-top-left-radius: var(--primary-border-small);
    border-bottom-left-radius: var(--primary-border-small);
}

.content-board .task-row.header .row-item .task-column:first-child .summary-info{
    grid-column: 2;
}

.content-board .table-title{
    display: flex;
    align-items: center;
    position: sticky;
    left: 32px;
    width: 300px;
    padding-left: 5px;
    padding-top: 3px;
}

.table-header .row-item .task-column:first-child{
    border-top-left-radius: var(--primary-border-small);
}
.content-board p.h2{
    font-size: 20px;
    font-weight: 600;
    width: 300px;
}

.content-board .task-row.task-table-container{
    position: relative;
}

.content-board .task-row.task-table-container .table-title-wrapper {
    z-index: 99;
    position: relative;
}

.content-board .row-item{
    padding-left:32px;
    display: flex;
    position: relative;
}




.content-board .row-item:hover .task-column:first-child .more-action{
    opacity: 1;
}

.content-board .row-item .task-column:last-child{
    flex: 1;
}

.content-board .row-item .task-column.target{
    border: 1px solid;
}

.content-board .table-li-items>.row-item-wrapper>.row-item:hover>.task-column,
.table-subitems-wrapper>.table-subitems-li-items>.row-item:hover>.task-column,
.content-board .table-li-items>.row-item-wrapper>.row-item.target>.task-column{
    background-color: aliceblue;
}


.content-board .table-li-items>.row-item-wrapper>.row-item.selected{
    z-index: 99;
}

.content-board .row-item:hover{
    box-shadow: 4px 3px 6px -3px #c3c6d4;
    z-index: 999;
}

.content-board .table-li-items>.row-item-wrapper>.row-item.target{
    box-shadow: 4px 3px 6px -3px #c3c6d4;
    z-index: 9999;
}

.content-board .table-li-items>.row-item-wrapper>.row-item.selected:hover>.task-column,
.table-subitems-wrapper>.table-subitems-li-items>.row-item.selected:hover>.task-column,
.table-li-items>.row-item-wrapper>.row-item.selected>.task-column
{
    background-color: #cce5ff !important;
}

.content-board .task-row.header .row-item{
    height: 60px;
}

.content-board .task-row.task-table-container .row-item{
    height: 36px;
}


.content-board .task-row-wrapper .row-item .task-column:first-child{
    border-left: 5px solid var(--background-color-blue);
}

.content-board .task-row-wrapper .row-item .task-column:first-child .discussion{
    margin-left: auto;
    padding: 0 6px;
    border-left: 1px solid var(--primary-border-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    color: #676879;
}

.content-board .task-row-wrapper .row-item .task-column:first-child .discussion .wrapper{
    position: relative;
    font-size: 25px;
}
.content-board .task-row-wrapper .row-item .task-column:first-child .discussion .count{
    position: absolute;
    top: 12px;
    left: 11px;
    background-color: #676879;
    color: white;
    font-size: 10px;
    width: auto;
    border-radius: 16px;
    padding: 1px 4px;
}

.content-board .task-row-wrapper .row-item .task-column:first-child .name-row-wrapper{
    width: 240px;
}

.content-board .add-group-wrapper .primary-btn{
    position: sticky;
    left: 32px;
    height: 32px;
    border: 1px solid var(--primary-border-color);
}

.content-board .add-group-wrapper .primary-btn:hover{
    background-color: var(--primary-background-hover);
    border: 1px solid var(--primary-border-color);
}


.board-list-wrapper{
    margin: 20px;
    padding: 20px;
    border-radius: var(--primary-border-small);
    box-shadow: var(--primary-box-shadow-hover);
}

.board-list-wrapper .board-title{
    display: flex;
    align-items: center;
    gap: var(--primary-gap-flex-s);
}

.board-list-wrapper .board-title i.dropdown{
    cursor: pointer;
    transition: all 0.1s linear;
}

.board-list-wrapper .board-title  i.dropdown.rotate {
    transform: rotateZ(90deg);
    cursor: pointer;
}

.board-list-wrapper .board-title .update-count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    background-color: var(--background-color-blue);
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

.board-list-wrapper .board-items-list{
    display: none;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 16px 16px 24px 16px;
}

.board-list-wrapper .board-items-list.active{
    display: grid;
}

.board-list-wrapper .board-items-list .board-item {
    padding: 8px;
    border: 1px solid var(--primary-border-color);
    border-radius: var(--primary-border-small);
}

.board-list-wrapper .board-items-list .board-item .board-item-info{
    padding: 0 3px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board-list-wrapper .board-items-list .board-item .board-item-info .board-star-icon{
    margin-left: auto;
}

.board-list-wrapper .board-items-list .board-item:hover{
    box-shadow: var(--primary-box-shadow-hover);
    border-color: transparent;
}

.board-list-wrapper .board-items-list .board-item .board-item-info h3{
    font-size: 16px;
}

.board-list-wrapper .board-items-list .board-item .board-item-img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--primary-border-small);
}

.task-row .table-subitems-wrapper{
    display: none;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.task-row .table-subitems-wrapper.active{
    display: block;
}

.task-row .table-subitems-wrapper .row-item .task-column{
    left: 64px;
}

.task-row .table-subitems-wrapper .row-item .task-column:first-child .name-row-wrapper{
    padding-left: 10px;
}

.task-row .table-subitems-wrapper .row-item .task-column:first-child{
    width: 368px;
    min-width: 368px;
}
.task-row .table-subitems-wrapper .row-item .task-column:first-child::before{
    content: '';
    position: absolute;
    height: 125%;
    width: 32px;
    left: -35px;
    top: -27px;
    border-bottom: 1px solid #0060b9;
    border-bottom-left-radius: 12px;
    z-index: 999;
    pointer-events: none;
}

.fa-angle-down.rotate{
    transform: rotateZ(180deg);
}

.table-subitems-wrapper .row-item .task-column:first-child .line{
    position: absolute;
    top: 0;
    left: 0;
}

.table-subitems-wrapper .row-item .task-column:first-child .line::before{
    content: '';
    width: 1px;
    background-color: #0060b9;
    height: 80px;
    position: absolute;
    top: -20px;
    left: -35px;
    z-index: 99999;
}

.content-board .task-row .table-subitems-wrapper .row-item .task-column:first-child .more-action{
    left: -72px;
}

.row-item .task-column.rate-column,
.row-item .task-column.text-column
{
    padding: 0 10px;
}

.row-item .task-column.text-column{
    width: 150px;
}

.row-item .task-column.rate-column .count-wrapper{
    width: 30px;
    text-align: center;
}

.row-item .task-column.rate-column .star-wrapper{
    display: flex;
}

.row-item .task-column.rate-column svg{
    color: gray;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.row-item .task-column.rate-column svg.active{
    color: rgb(253, 171, 61);
}

.slide-panel{
    right: 0;
    left: unset;
    bottom: 0px;
    height: calc(100vh - 50px);
    box-shadow: var(--primary-box-shadow-hover);
    overflow: hidden;
    top: unset;
    border-left: unset;
    position: fixed;
    z-index: 1002;
    width: 550px;
    background-color: white;
}
.slide-panel .close-panel{
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 5px;
    color: gray;
    cursor: pointer;
}

.slide-panel .slide-panel-header{
    padding: 50px 30px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--primary-gap-flex-s);
}

.slide-panel .slide-panel-header .task-name{
    font-size: 18px;
    font-weight: 600;
}

.slide-panel .slide-panel-header .user-wrapper{
    display: flex;

    align-items: center;
}

.slide-panel .slide-panel-header .user-wrapper .person{
    height: 25px;
    width: 25px;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.slide-panel .slide-panel-header .user-wrapper .person:first-child{
    margin-left: 0;
}

.slide-panel .slide-panel-header .user-wrapper .person img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 2px solid white;
}

.slide-panel .slide-panel-header .user-wrapper .person-count {
    background-color: gray;
    color: white;
    font-size: 10px;
}

.slide-panel .slide-panel-header .more-action {
    height: 25px;
}

.slide-panel .slide-tab-wrapper {
    padding: 0 10px;
    border-bottom: 1px solid #d0d4e4;
}